#@3G, TeliaSonera
#Thu Apr 10 16:08:02 CEST 2014
TYPE=3G

#Inactivity parameters
DCH_FACH_INACTIVITY_TIME=4100
FACH_IDLE_INACTIVITY_TIME=5600
DCH_LOW_ACTIVITY_TIME=4000
DATA_THRESHOLD=1000

#Buffer parameters
UPLINK_BUFFER_IDLE_TO_FACH_OR_DCH=1000
DOWNLINK_BUFFER_IDLE_TO_FACH_OR_DCH=515
UPLINK_BUFFER_FACH_TO_DCH=294
DOWNLINK_BUFFER_FACH_TO_DCH=515
UPLINK_BUFFER_EMPTY_TIME=1.2
DOWNLINK_BUFFER_EMPTY_TIME=30

#Transition duration
IDLE_TO_FACH_TRANSITION_TIME=430
IDLE_TO_DCH_TRANSITION_TIME=1700
FACH_TO_DCH_TRANSITION_TIME=650
DCH_TO_FACH_TRANSITION_TIME=700
FACH_TO_IDLE_TRANSITION_TIME=300